{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        {% if evento.imagen %}
            <img src="{{ evento.imagen.url }}" class="img-fluid rounded mb-3" alt="{{ evento.titulo }}">
        {% endif %}
        <h2>{{ evento.titulo }}</h2>
        <p class="lead">{{ evento.descripcion }}</p>
    </div>
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Detalles</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Lugar:</strong> {{ evento.lugar }}</li>
                    <li class="list-group-item"><strong>Fecha:</strong> {{ evento.fecha_hora|date:"d M, Y" }}</li>
                    <li class="list-group-item"><strong>Hora:</strong> {{ evento.fecha_hora|time:"H:i" }} hrs.</li>
                    <li class="list-group-item">
                        <strong>Tiempo restante:</strong>
                        <div class="fw-bold countdown-timer"
                             class="fw-bold" 
                             data-fecha="{{ evento.fecha_hora|date:'Y-m-d\TH:i:s' }}">
                            Calculando...
                        </div>
                    </li>
                    <li class="list-group-item"><strong>Valor:</strong> ${{ evento.valor }}</li>
                    <li class="list-group-item">
                        <strong>Plazas Libres:</strong> 
                        <span class="badge bg-success">{{ evento.plazas_disponibles }}</span>
                    </li>
                    
                </ul>
            </div>
            <div class="card-footer p-3">
                {% if user.is_authenticated %}
                    {% if ya_inscrito %}
                        <div class="alert alert-success text-center mb-0">
                            ¡Ya estás inscrito!
                            <a href="{% url 'mis_eventos' %}" class="alert-link">Ver mis eventos</a>
                        </div>
                    {% elif evento.plazas_disponibles > 0 %}
                        <form action="{% url 'inscribir_evento' evento.id %}" method="POST" class="d-grid">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-lg">¡Inscribirme!</button>
                        </form>
                    {% else %}
                        <div class="alert alert-danger text-center mb-0">¡Plazas Agotadas!</div>
                    {% endif %}
                {% else %}
                    <div class="alert alert-info text-center mb-0">
                        <a href="{% url 'login' %}?next={{ request.path }}">Inicia sesión</a> para inscribirte.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}