{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4">Mis Inscripciones</h1>
{% for inscripcion in inscripciones %}
<div class="card shadow-sm mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h5 class="card-title mb-0">
                    <a href="{% url 'evento_detalle' inscripcion.evento.id %}" class="link-titulo-evento text-decoration-none">
                          {{ inscripcion.evento.titulo }}
                    </a>
                </h5>
                <small class="text-muted">
                    {{ inscripcion.evento.fecha_hora|date:"d M, Y \a \l\a\s H:i" }} | {{ inscripcion.evento.lugar }}
                </small>
            </div>
            <form action="{% url 'anular_inscripcion' inscripcion.id %}" method="POST" 
                onsubmit="return confirm('¿Seguro que quieres anular tu inscripción para el evento: {{ inscripcion.evento.titulo }}?');">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger btn-sm">Anular Registro</button>
            </form>
        </div>
    </div>
</div>
{% empty %}
<div class="text-center">
    <p class="lead">Aún no te has inscrito en ningún evento.</p>
    <a href="{% url 'index' %}" class="btn btn-primary">Ver eventos disponibles</a>
</div>
{% endfor %}
{% endblock %}